.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 5px;
}
.info_condition {
  font-size: 1.4em;
}
.info_degree {
  font-size: 3em;
}
.info_bottom_container {
  display: flex;
  justify-content: space-between;
}
.info_windSpeed {
  margin: 0px 10px 0px 10px;
}
.info_wind_icon {
  color: white;
  margin: 0px 10px 0px 10px;
}
.info_humidity {
  margin: 0px 10px 0px 10px;
}
.info_humidity_icon {
  color: white;
  margin: 0px 10px 0px 10px;
}
