.container {
  display: flex;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(199, 199, 199);
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  padding: 0 1rem;
  cursor: pointer;
}

.date {
  font-size: 0.9em;
  margin-bottom: 2px;
}
.icon {
  position: relative;
  color: #161616;
  width: 12em;
  height: 10em;
  font-size: 0.2em;
}
.dateData {
  margin-top: 10px;
}
