.hourlyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(199, 199, 199);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  padding: 0 1rem;
  height: 100px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
}
.hour {
  margin-top: 5px;
  margin-bottom: 10px;
}
.icon {
  position: relative;
  color: #161616;
  width: 12em;
  height: 10em;
  font-size: 1.5em; /* control icon size here */
  font-size: 0.2em;
}
.desc {
  font-size: 20px;
  margin-top: 10px;
  margin-left: 3px;
}
